spring:
  application:
    name: mobile-operator-tariff-management

  datasource:
    url: jdbc:postgresql://db:5432/mobile_operator_db
    username: mobile_operator
    password: mobile_operator
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update 
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080



